<!DOCTYPE html>
<html> 
    <head>
        <title>Doing HTML</title>
        <style> h1 {color: red;}</style>
        <link rel="stylesheet" href="concept.css">
        <script src="concept.js"></script>

    </head>
    <body>
        <h1 id="umair_id">Concept</h1>
        <h2 id = "shriejan_id">Concept 2</h2>
        <h3 style="color: blue;">Concept 3</h3>
        <script> 
            function change_color(){
                document.getElementById("shriejan_id").style.color="blue";
            }
        </script>

        <button onclick="change_color()">click me</button>

        <button onclick="change_color2()">click me too</button>
    </body>


</html>