.calculator
{
    width: 300px;
    height: 500px;
    background-color: #00aaff;
    border: 1px solid #000;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
}

.top-screen input {
    width: 93%;
    height: 90px;
    font-size: 50px;
    text-align: right;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.buttons button {
    font-size: 25px;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

.fun {
    background: rgb(250, 74, 74);
    color: #000000;
}

.mop {
    background:rgb(150, 147, 147);
    color: #000000;
}

.num {
    background:black;
    color: white;
}

button:hover {
    background: #ffffff;
    color: #000000;
}