<!DOCTYPE html>


<html>
<body>
    <h1 style="color: red;">Welcome

        <script>
            const params = new URLSearchParams(window.location.search);
            document.write(params.get('username'))    
        </script>
    
    </h1>    
    <h1 style="color: red;">you are hacked you passwrod is

        <script>
            const params2 = new URLSearchParams(window.location.search);
            
            document.write(params2.get('hello'))
    
        </script>
    
    </h1>




</body>



</html>

